.product-details-card{
    background-color: #3f57ab;
    display: flex;
    
}

.product-details-card img{
    height: 500px;
    width: 500px;
    object-fit: contain;
    flex: 1;
    margin: 20px;
    
}

 .imageDetails{
    width:500px;
    background-color: #7c808f;
    flex: 1;
}